.view-create-wer-bringt-was {
  .options {

    md-input-container {
      margin: 0;

      .md-errors-spacer {
        display: none;
      }
    }

    .md-button {
      margin-top: 1em;
    }
  }
}
